In [540]:
class Student:

    school_name = 'SRM School'
    school_fees = 30000
    no_of_students = 0
    
    def __init__(self,Name, Class, Section, Rollno, Marks):
        self.name = Name
        self.class_no = Class
        self.section = Section
        self.rollno = Rollno
        self.email = self.name+'@gmail.com'
        self.marks = Marks
        self.status = 'Fail' if Marks<40 else 'Pass'
        Student.no_of_students = Student.no_of_students + 1

    @classmethod
    def update_school_name(cls,x):
        cls.school_name = x
        
    def detail(self,Fees):
        return(f'''\nName: {self.name}\nClass & Section: {self.class_no + ' '+self.section}\nMarks: {str(self.marks)}%\nStatus: {self.status}\nSchool Name: {self.school_name}\nAnnual Fees: {str(Fees*12)+'/-'}''')
    
    @classmethod
    def total_students_registered(cls):
        return (cls.no_of_students)
    pass


class Teacher(Student):
    Teacher_name = 'Arjun'
    
    def __init__ (self,Name, Class, Section, Rollno, Marks, Grade):
        super().__init__(Name, Class, Section, Rollno, Marks)
        self.grade = Grade
        
    def display_grade(self):
        return (self.grade)

    @staticmethod
    def temperature():
        return ('Avg. Temperature Outside - 32.83 degrees Farenheit')
    
class Prince(Teacher):
    Principal_name = 'Mahesh Sharma'
    
    def __init__(self,Name,Class,Section,Rollno,Marks,Grade,Branch):
        super().__init__(Name,Class,Section,Rollno,Marks,Grade)
        self.branch_Name = Branch
        
    def return_marks(self):
        return (self.marks)
    
s1 = Teacher('Akash', '10','A',28,75,82)

print(s1.detail(1225),s1.Teacher_name, s1.school_name)
print(s1.temperature())

s2 = Prince('Rakesh Chandra','12','B',34,83,'A','Agra')
Student.school_name = 'SRM School'
s2.school_name, s2.return_marks(), s1.display_grade(), s2.school_fees

Name: Akash
Class & Section: 10 A
Marks: 75%
Status: Pass
School Name: SRM School
Annual Fees: 14700/- Arjun SRM School
Avg. Temperature Outside - 32.83 degrees Farenheit

('SRM School', 83, 82, 30000)

In [57]:
import numpy as np

In [68]:
a = list(range(25))
np.array(a).reshape(5,5)

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24]])

In [74]:
np.array([[1,2,3],[9,10,11]],dtype = 'int64').astype('complex')

array([[ 1.+0.j,  2.+0.j,  3.+0.j],
       [ 9.+0.j, 10.+0.j, 11.+0.j]])

In [87]:
x = np.array([(111,222,333),(777,666,222)]).reshape(3,2)

In [89]:
x.shape = (2,3)

In [115]:
a = np.arange(20).reshape(4,5)
b = np.arange(20).reshape(4,5)

In [116]:
np.multiply(a,b), a-b, a+b, a**0.5, a*0.0008321

(array([[  0,   1,   4,   9,  16],
        [ 25,  36,  49,  64,  81],
        [100, 121, 144, 169, 196],
        [225, 256, 289, 324, 361]]),
 array([[0, 0, 0, 0, 0],
        [0, 0, 0, 0, 0],
        [0, 0, 0, 0, 0],
        [0, 0, 0, 0, 0]]),
 array([[ 0,  2,  4,  6,  8],
        [10, 12, 14, 16, 18],
        [20, 22, 24, 26, 28],
        [30, 32, 34, 36, 38]]),
 array([[0.        , 1.        , 1.41421356, 1.73205081, 2.        ],
        [2.23606798, 2.44948974, 2.64575131, 2.82842712, 3.        ],
        [3.16227766, 3.31662479, 3.46410162, 3.60555128, 3.74165739],
        [3.87298335, 4.        , 4.12310563, 4.24264069, 4.35889894]]),
 array([[0.       , 0.0008321, 0.0016642, 0.0024963, 0.0033284],
        [0.0041605, 0.0049926, 0.0058247, 0.0066568, 0.0074889],
        [0.008321 , 0.0091531, 0.0099852, 0.0108173, 0.0116494],
        [0.0124815, 0.0133136, 0.0141457, 0.0149778, 0.0158099]]))

In [118]:
c = np.arange(0,100)
c[::2].astype('bool')

array([False,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True])

In [127]:
np.where((c%5==0) & (c%2==0))

(array([ 0, 10, 20, 30, 40, 50, 60, 70, 80, 90], dtype=int64),)

In [128]:
arr = [[[1,2,3],[4,5,6]],[[7,8,9],[10,11,12]]]

In [135]:
np.shape(arr)

(2, 2, 3)

In [150]:
d = np.identity(5).astype('int')

In [151]:
np.zeros(shape = (6,6)).astype('float64')

array([[0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0.]])

In [162]:
np.minimum(a,b)

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19]])

In [168]:
np.random.randn(5,9), np.mean(np.random.randn(5,9)), np.argmax(np.random.randn(20)), np.amax(a)

(array([[-1.65208151,  1.12649311,  0.28921543,  0.8182051 ,  0.43870617,
         -0.51148249, -0.13604921,  0.87716383, -0.14372198],
        [ 0.53958054,  0.00864479,  0.74471206,  1.53185159, -0.29411937,
         -1.6649769 , -0.14247042,  0.69632917,  0.77848453],
        [-1.07707689,  0.23229749, -0.04020861, -0.94097501, -0.16181249,
         -0.07267425, -0.37246947,  0.97875719,  0.246971  ],
        [-0.24252933, -0.28333399,  0.76531769,  0.02165391,  0.49882574,
         -0.14764699, -0.23499435, -1.0277857 , -0.32921352],
        [ 1.62887912, -0.82124366,  1.66096738,  0.88211584, -0.98321528,
          2.18173385,  0.65086947,  0.22182463, -0.46127563]]),
 0.0091155489670895,
 6,
 19)

In [181]:
np.amax(arr,2),arr

(array([[ 3,  6],
        [ 9, 12]]),
 [[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]]])

In [195]:
np.dot(a,a.T),a

(array([[  30,   80,  130,  180],
        [  80,  255,  430,  605],
        [ 130,  430,  730, 1030],
        [ 180,  605, 1030, 1455]]),
 array([[ 0,  1,  2,  3,  4],
        [ 5,  6,  7,  8,  9],
        [10, 11, 12, 13, 14],
        [15, 16, 17, 18, 19]]))

In [196]:
import pandas as pd

In [202]:
pd.DataFrame(arr, columns = ['Col1','Col2'], index = ['index1','index2'])

             Col1          Col2
index1  [1, 2, 3]     [4, 5, 6]
index2  [7, 8, 9]  [10, 11, 12]

In [211]:
pd.Series(np.arange(5))

0    0
1    1
2    2
3    3
4    4
dtype: int32

In [215]:
pd.Series({'Aditya':38,'Mayank':20, 'Adil':49, 'Mukesh':42})

Aditya    38
Mayank    20
Adil      49
Mukesh    42
dtype: int64

In [217]:
data = pd.DataFrame({'Name':['Rahul','Rishabh','Manish','Haider', 'Akash', 'Aditya'],'Section': ['A','B','A','C','D','F']})

In [224]:
data.head(), data.columns, data.index

(      Name Section
 0    Rahul       A
 1  Rishabh       B
 2   Manish       A
 3   Haider       C
 4    Akash       D,
 Index(['Name', 'Section'], dtype='object'),
 RangeIndex(start=0, stop=6, step=1))

In [232]:
pd.DataFrame(np.arange(25).reshape(5,5).T, columns= ['A','B','A','C','D'], dtype = 'float64')

     A    B     A     C     D
0  0.0  5.0  10.0  15.0  20.0
1  1.0  6.0  11.0  16.0  21.0
2  2.0  7.0  12.0  17.0  22.0
3  3.0  8.0  13.0  18.0  23.0
4  4.0  9.0  14.0  19.0  24.0

In [240]:
df = pd.read_csv(r'C:\Users\Rahul\Desktop\Project\Final_Train.csv')

In [241]:
df.head()

,Qualification,Experience,Rating,Place,Profile,Miscellaneous_Info,Fees
0,"BHMS, MD - Homeopathy",24 years experience,100%,"Kakkanad, Ernakulam",Homeopath,"100% 16 Feedback Kakkanad, Ernakulam",100
1,"BAMS, MD - Ayurveda Medicine",12 years experience,98%,"Whitefield, Bangalore",Ayurveda,"98% 76 Feedback Whitefield, Bangalore",350
2,"MBBS, MS - Otorhinolaryngology",9 years experience,NaN,"Mathikere - BEL, Bangalore",ENT Specialist,NaN,300
3,"BSc - Zoology, BAMS",12 years experience,NaN,"Bannerghatta Road, Bangalore",Ayurveda,"Bannerghatta Road, Bangalore ?250 Available on...",250
4,BAMS,20 years experience,100%,"Keelkattalai, Chennai",Ayurveda,"100% 4 Feedback Keelkattalai, Chennai",250

In [254]:
df.rename({'Rating':'Rate'}, axis=1).head()

,Qualification,Experience,Rate,Place,Profile,Miscellaneous_Info,Fees
0,"BHMS, MD - Homeopathy",24 years experience,100%,"Kakkanad, Ernakulam",Homeopath,"100% 16 Feedback Kakkanad, Ernakulam",100
1,"BAMS, MD - Ayurveda Medicine",12 years experience,98%,"Whitefield, Bangalore",Ayurveda,"98% 76 Feedback Whitefield, Bangalore",350
2,"MBBS, MS - Otorhinolaryngology",9 years experience,NaN,"Mathikere - BEL, Bangalore",ENT Specialist,NaN,300
3,"BSc - Zoology, BAMS",12 years experience,NaN,"Bannerghatta Road, Bangalore",Ayurveda,"Bannerghatta Road, Bangalore ?250 Available on...",250
4,BAMS,20 years experience,100%,"Keelkattalai, Chennai",Ayurveda,"100% 4 Feedback Keelkattalai, Chennai",250

In [259]:
df.Qualification.apply(lambda x: 'Homo' if 'Homeopathy' in x else x)

0                                                   Homo
1                           BAMS, MD - Ayurveda Medicine
2                         MBBS, MS - Otorhinolaryngology
3                                    BSc - Zoology, BAMS
4                                                   BAMS
                             ...
144                                                 Homo
145    MBBS, Diploma in Otorhinolaryngology (DLO), MR...
146                                           MBBS, DDVL
147                                      MBBS, DNB - ENT
148                                                 MBBS
Name: Qualification, Length: 149, dtype: object

In [295]:
df.Experience.str.extract(r'(^\d{1,2}) .*').head()

    0
0  24
1  12
2   9
3  12
4  20

In [332]:
df.Place.str.extract(r'(^.*),.*').head()

                   0
0           Kakkanad
1         Whitefield
2    Mathikere - BEL
3  Bannerghatta Road
4       Keelkattalai

In [351]:
df.Place.str.extract(r'^.*, (.*)').head(5)

           0
0  Ernakulam
1  Bangalore
2  Bangalore
3  Bangalore
4    Chennai

In [354]:
df.Rating.str.extract(r'(^\d{1,5})%').head()

     0
0  100
1   98
2  NaN
3  NaN
4  100

In [360]:
df.Qualification.str.extract(r'(^.*),.*').head()

               0
0           BHMS
1           BAMS
2           MBBS
3  BSc - Zoology
4            NaN

In [361]:
df.Qualification.str.extract(r'^.*,(.*)').head()

                           0
0            MD - Homeopathy
1     MD - Ayurveda Medicine
2   MS - Otorhinolaryngology
3                       BAMS
4                        NaN

In [362]:
df.head()

,Qualification,Experience,Rating,Place,Profile,Miscellaneous_Info,Fees
0,"BHMS, MD - Homeopathy",24 years experience,100%,"Kakkanad, Ernakulam",Homeopath,"100% 16 Feedback Kakkanad, Ernakulam",100
1,"BAMS, MD - Ayurveda Medicine",12 years experience,98%,"Whitefield, Bangalore",Ayurveda,"98% 76 Feedback Whitefield, Bangalore",350
2,"MBBS, MS - Otorhinolaryngology",9 years experience,NaN,"Mathikere - BEL, Bangalore",ENT Specialist,NaN,300
3,"BSc - Zoology, BAMS",12 years experience,NaN,"Bannerghatta Road, Bangalore",Ayurveda,"Bannerghatta Road, Bangalore ?250 Available on...",250
4,BAMS,20 years experience,100%,"Keelkattalai, Chennai",Ayurveda,"100% 4 Feedback Keelkattalai, Chennai",250

In [386]:
df.Qualification.str.extract(r'.*, (^\s) -.*').head()

     0
0  NaN
1  NaN
2  NaN
3  NaN
4  NaN

In [397]:
df.groupby(['Experience','Profile'])[['Fees']].transform('mean').head()

         Fees
0  100.000000
1  233.333333
2  300.000000
3  233.333333
4  266.666667

In [398]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('test').getOrCreate()

In [406]:
d = spark.read.format('csv').load(r'C:\Users\Rahul\Desktop\Project\Final_Train.csv',header = True)

In [416]:
d.groupby('Experience','Profile').agg(sum('Fees')).show(5)

+-------------------+--------------+---------+
|         Experience|       Profile|sum(Fees)|
+-------------------+--------------+---------+
|41 years experience|Dermatologists|    350.0|
| 0 years experience|Dermatologists|    100.0|
|24 years experience|Dermatologists|    500.0|
|16 years experience|      Ayurveda|    300.0|
| 8 years experience|      Ayurveda|    450.0|
+-------------------+--------------+---------+
only showing top 5 rows

In [424]:
d.withColumnRenamed('Rating','Rate').show(5)

+--------------------+-------------------+----+--------------------+--------------+--------------------+----+
|       Qualification|         Experience|Rate|               Place|       Profile|  Miscellaneous_Info|Fees|
+--------------------+-------------------+----+--------------------+--------------+--------------------+----+
|BHMS, MD - Homeop...|24 years experience|100%| Kakkanad, Ernakulam|     Homeopath|100% 16 Feedback ...| 100|
|BAMS, MD - Ayurve...|12 years experience| 98%|Whitefield, Banga...|      Ayurveda|98% 76 Feedback W...| 350|
|MBBS, MS - Otorhi...| 9 years experience|null|Mathikere - BEL, ...|ENT Specialist|                null| 300|
| BSc - Zoology, BAMS|12 years experience|null|Bannerghatta Road...|      Ayurveda|Bannerghatta Road...| 250|
|                BAMS|20 years experience|100%|Keelkattalai, Che...|      Ayurveda|100% 4 Feedback K...| 250|
+--------------------+-------------------+----+--------------------+--------------+--------------------+----+
only showing top 5 rows

In [426]:
d.select('Qualification',split('Qualification',',')[0]).show(5)

+--------------------+------------------------------+
|       Qualification|split(Qualification, ,, -1)[0]|
+--------------------+------------------------------+
|BHMS, MD - Homeop...|                          BHMS|
|BAMS, MD - Ayurve...|                          BAMS|
|MBBS, MS - Otorhi...|                          MBBS|
| BSc - Zoology, BAMS|                 BSc - Zoology|
|                BAMS|                          BAMS|
+--------------------+------------------------------+
only showing top 5 rows

In [440]:
pd.concat([df.Qualification, df.Experience],axis = 0).reset_index(drop=True)

0               BHMS, MD - Homeopathy
1        BAMS, MD - Ayurveda Medicine
2      MBBS, MS - Otorhinolaryngology
3                 BSc - Zoology, BAMS
4                                BAMS
                    ...
293               36 years experience
294               19 years experience
295               10 years experience
296                7 years experience
297               32 years experience
Length: 298, dtype: object

In [455]:
df.head()

,Qualification,Experience,Rating,Place,Profile,Miscellaneous_Info,Fees
0,"BHMS, MD - Homeopathy",24 years experience,100%,"Kakkanad, Ernakulam",Homeopath,"100% 16 Feedback Kakkanad, Ernakulam",100
1,"BAMS, MD - Ayurveda Medicine",12 years experience,98%,"Whitefield, Bangalore",Ayurveda,"98% 76 Feedback Whitefield, Bangalore",350
2,"MBBS, MS - Otorhinolaryngology",9 years experience,NaN,"Mathikere - BEL, Bangalore",ENT Specialist,NaN,300
3,"BSc - Zoology, BAMS",12 years experience,NaN,"Bannerghatta Road, Bangalore",Ayurveda,"Bannerghatta Road, Bangalore ?250 Available on...",250
4,BAMS,20 years experience,100%,"Keelkattalai, Chennai",Ayurveda,"100% 4 Feedback Keelkattalai, Chennai",250

In [463]:
df['Val_check'] = df[df.Rating == '100%'].Fees ==100

In [467]:
df[['Rating','Fees']]

    Rating  Fees
0     100%   100
1      98%   350
2      NaN   300
3      NaN   250
4     100%   250
..     ...   ...
144    NaN   250
145   100%   300
146    89%   800
147    NaN   300
148    NaN   150

[149 rows x 2 columns]

In [469]:
df.Fees.apply(lambda x: x+200 if x<200 else x )

0      300
1      350
2      300
3      250
4      250
      ...
144    250
145    300
146    800
147    300
148    350
Name: Fees, Length: 149, dtype: int64

In [475]:
d.show()

+--------------------+-------------------+------+--------------------+----------------+--------------------+----+
|       Qualification|         Experience|Rating|               Place|         Profile|  Miscellaneous_Info|Fees|
+--------------------+-------------------+------+--------------------+----------------+--------------------+----+
|BHMS, MD - Homeop...|24 years experience|  100%| Kakkanad, Ernakulam|       Homeopath|100% 16 Feedback ...| 100|
|BAMS, MD - Ayurve...|12 years experience|   98%|Whitefield, Banga...|        Ayurveda|98% 76 Feedback W...| 350|
|MBBS, MS - Otorhi...| 9 years experience|  null|Mathikere - BEL, ...|  ENT Specialist|                null| 300|
| BSc - Zoology, BAMS|12 years experience|  null|Bannerghatta Road...|        Ayurveda|Bannerghatta Road...| 250|
|                BAMS|20 years experience|  100%|Keelkattalai, Che...|        Ayurveda|100% 4 Feedback K...| 250|
|                BAMS| 8 years experience|  null|      Porur, Chennai|        Ayurveda|                null| 100|
|                BHMS|42 years experience|  null|   Karol Bagh, Delhi|       Homeopath|                null| 200|
|                 BDS|10 years experience|   99%|  Arekere, Bangalore|         Dentist|Dental Fillings C...| 200|
|MBBS, MD - Genera...|14 years experience|  null| Old City, Hyderabad|General Medicine|                null| 100|
|            BSc, BDS|23 years experience|  null|   Athani, Ernakulam|         Dentist|                null| 100|
| MBBS, MS, DNB - ENT| 5 years experience|  null|Thousand Lights, ...|  ENT Specialist|                null| 700|
|                BAMS| 7 years experience|  null|Somajiguda, Hyder...|        Ayurveda|                null| 100|
|            BDS, MDS| 9 years experience|   98%|Coimbatore Raceco...|         Dentist|98% 14 Feedback C...| 200|
|BDS, MDS - Oral &...|21 years experience|  null|Jubilee Hills, Hy...|         Dentist|Dental Crowns Fac...| 350|
|MBBS, Diploma in ...|12 years experience|  null|       Kondli, Delhi|  ENT Specialist|                null| 500|
|MBBS, MD - Genera...|10 years experience|  null|Saroor Nagar, Hyd...|General Medicine|                null| 200|
|MBBS, Diploma in ...|24 years experience|  null|Tambaram West, Ch...|  ENT Specialist|                null| 100|
|MBBS, MF- Homeopathy| 5 years experience|  null|Purasawakkam, Che...|       Homeopath|                null| 300|
|      MBBS, MS - ENT|19 years experience|   79%|     KPHB, Hyderabad|  ENT Specialist|79% 8 Feedback KP...| 400|
|                MBBS|19 years experience|  100%|HSR Layout, Banga...|General Medicine|100% 4 Feedback H...| 150|
+--------------------+-------------------+------+--------------------+----------------+--------------------+----+
only showing top 20 rows

In [490]:
from pyspark.sql.types import *
def cube(x):
    return (x**3)

cube_function = udf(lambda x : cube(x), IntegerType())

In [494]:
d.select(cube_function('Fees'),'Fees').show()

Traceback (most recent call last):
  File "C:\Users\Rahul\AppData\Local\Programs\Python\Python311\Lib\site-packages\pyspark\serializers.py", line 458, in dumps
    return cloudpickle.dumps(obj, pickle_protocol)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\Rahul\AppData\Local\Programs\Python\Python311\Lib\site-packages\pyspark\cloudpickle\cloudpickle_fast.py", line 73, in dumps
    cp.dump(obj)
  File "C:\Users\Rahul\AppData\Local\Programs\Python\Python311\Lib\site-packages\pyspark\cloudpickle\cloudpickle_fast.py", line 602, in dump
    return Pickler.dump(self, obj)
           ^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\Rahul\AppData\Local\Programs\Python\Python311\Lib\site-packages\pyspark\cloudpickle\cloudpickle_fast.py", line 692, in reducer_override
    return self._function_reduce(obj)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\Rahul\AppData\Local\Programs\Python\Python311\Lib\site-packages\pyspark\cloudpickle\cloudpickle_fast.py", line 565, in _function_reduce
    return self._dynamic_function_reduce(obj)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\Rahul\AppData\Local\Programs\Python\Python311\Lib\site-packages\pyspark\cloudpickle\cloudpickle_fast.py", line 546, in _dynamic_function_reduce
    state = _function_getstate(func)
            ^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\Rahul\AppData\Local\Programs\Python\Python311\Lib\site-packages\pyspark\cloudpickle\cloudpickle_fast.py", line 157, in _function_getstate
    f_globals_ref = _extract_code_globals(func.__code__)
                    ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\Rahul\AppData\Local\Programs\Python\Python311\Lib\site-packages\pyspark\cloudpickle\cloudpickle.py", line 334, in _extract_code_globals
    out_names = {names[oparg]: None for _, oparg in _walk_global_ops(co)}
                ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\Rahul\AppData\Local\Programs\Python\Python311\Lib\site-packages\pyspark\cloudpickle\cloudpickle.py", line 334, in <dictcomp>
    out_names = {names[oparg]: None for _, oparg in _walk_global_ops(co)}
                 ~~~~~^^^^^^^
IndexError: tuple index out of range

PicklingError: Could not serialize object: IndexError: tuple index out of range

In [546]:
df.to_frame()

AttributeError: 'DataFrame' object has no attribute 'to_frame'

In [548]:
y = spark.createDataFrame(df)

AttributeError: 'DataFrame' object has no attribute 'iteritems'

In [706]:
def output(s):
    string_input = s
    c = 1
    l = list()
    count = 1
    if(len(s)==1):
        return s+'1'
    else:

        for i in range(1,len(string_input)):
            count = count + 1
            if((string_input[i] == string_input[i-1]) and count != len(s)):
                c = c+1
            elif((string_input[i] == string_input[i-1]) and count == len(s)):
                x = str(s[i-1]) + str(c+1)
                l.append(x)
                print(x)
                c = 1
            elif((string_input[i] != string_input[i-1]) and count == len(s)):
                x = str(s[i-1]) + str(c)
                y = str(s[i]) + '1'
                l.append(x)
                print(y)
                l.append(y)
                c = 1
                print(x)
            else:
                x = str(s[i-1]) + str(c)
                l.append(x)
                print(x)
                c = 1

        return ''.join(l)#,count, len(s), string_input

In [707]:
s = 'aaaabbbbggggllllpplpx'
output(s)

a4
b4
g4
l4
p2
l1
x1
p1

'a4b4g4l4p2l1p1x1'

In [701]:
d = ''
for i in list(set(s)):
    
    d = d + str(i) + str(s.count(i))
    
print(d)

g1a4b3