In [108]:
from pyspark.sql import SparkSession
from pyspark.sql.window import Window

In [2]:
spark = SparkSession.builder.appName("Test_Project").getOrCreate()

In [3]:
spark

In [54]:
from pyspark.sql.functions import *
df = spark.range(10)
df.show()

+---+
| id|
+---+
|  0|
|  1|
|  2|
|  3|
|  4|
|  5|
|  6|
|  7|
|  8|
|  9|
+---+

In [38]:
df2 = spark.range(2,20,2)
df.join(df2, df.id == df2.id, 'inner').select(df.id,df2.id.alias('id2')).show()

+---+---+
| id|id2|
+---+---+
|  2|  2|
|  4|  4|
|  6|  6|
|  8|  8|
+---+---+

In [252]:
df = spark.read.format('csv').load(r'C:\Users\Rahul\Desktop\Project\Final_Train.csv',header = True)

In [99]:
for i in list(df.take(2)[0]):
    print (i.split(','))

['BHMS', ' MD - Homeopathy']
['24 years experience']
['100%']
['Kakkanad', ' Ernakulam']
['Homeopath']
['100% 16 Feedback Kakkanad', ' Ernakulam']
['100']

In [109]:
df.withColumn("Ranked",rank().over(Window.partitionBy(df.Profile,df.Experience).orderBy(desc(df.Fees)))).show()

+--------------------+-------------------+------+--------------------+--------+--------------------+----+------+
|       Qualification|         Experience|Rating|               Place| Profile|  Miscellaneous_Info|Fees|Ranked|
+--------------------+-------------------+------+--------------------+--------+--------------------+----+------+
| BAMS, MS - Ayurveda|10 years experience|  null|   Bakkarwala, Delhi|Ayurveda|                null| 150|     1|
|BAMS, MD - Ayurve...|12 years experience|   98%|Whitefield, Banga...|Ayurveda|98% 76 Feedback W...| 350|     1|
| BSc - Zoology, BAMS|12 years experience|  null|Bannerghatta Road...|Ayurveda|Bannerghatta Road...| 250|     2|
|                BAMS|12 years experience|   96%|  Dadar West, Mumbai|Ayurveda|96% 30 Feedback D...| 100|     3|
|BAMS, MD - Acupun...|15 years experience|  null|Anna Nagar East, ...|Ayurveda|                null| 250|     1|
| BAMS, MS - Ayurveda|16 years experience|  100%|Yelahanka, Bangalore|Ayurveda|100% 3 Feedback Y...| 300|     1|
|MD - Ayurveda Med...|20 years experience|  null|Goregaon West, Mu...|Ayurveda|                null| 500|     1|
|                BAMS|20 years experience|  null|     Sagarpur, Delhi|Ayurveda|                null|  50|     2|
|                BAMS|20 years experience|  100%|Keelkattalai, Che...|Ayurveda|100% 4 Feedback K...| 250|     3|
|                BAMS|27 years experience|  null|Dahisar East, Mumbai|Ayurveda|                null| 100|     1|
|BAMS, Diploma in ...|31 years experience|  100%| RT Nagar, Bangalore|Ayurveda|100% 7 Feedback R...| 500|     1|
|                BAMS| 7 years experience|  null|Somajiguda, Hyder...|Ayurveda|                null| 100|     1|
|BAMS, Post Gradua...| 8 years experience|  null|Dahisar West, Mumbai|Ayurveda|                null|  50|     1|
|                BAMS| 8 years experience|  null|Saroor Nagar, Hyd...|Ayurveda|                null| 300|     2|
|                BAMS| 8 years experience|  null|      Porur, Chennai|Ayurveda|                null| 100|     3|
|                BAMS| 9 years experience|  null| IP Extension, Delhi|Ayurveda|                null| 300|     1|
|                BAMS| 9 years experience|  100%|     KPHB, Hyderabad|Ayurveda|Arthritis Managem...| 300|     1|
|                BAMS| 9 years experience|  null|    Chetpet, Chennai|Ayurveda|                null| 150|     3|
|                 BDS|10 years experience|  null|New Friends Colon...| Dentist|Dental Fillings R...| 250|     1|
|                 BDS|10 years experience|  null|Hazrat Nizamuddin...| Dentist|Hazrat Nizamuddin...| 250|     1|
+--------------------+-------------------+------+--------------------+--------+--------------------+----+------+
only showing top 20 rows

In [100]:
df.show(5)

+--------------------+-------------------+------+--------------------+--------------+--------------------+----+
|       Qualification|         Experience|Rating|               Place|       Profile|  Miscellaneous_Info|Fees|
+--------------------+-------------------+------+--------------------+--------------+--------------------+----+
|BHMS, MD - Homeop...|24 years experience|  100%| Kakkanad, Ernakulam|     Homeopath|100% 16 Feedback ...| 100|
|BAMS, MD - Ayurve...|12 years experience|   98%|Whitefield, Banga...|      Ayurveda|98% 76 Feedback W...| 350|
|MBBS, MS - Otorhi...| 9 years experience|  null|Mathikere - BEL, ...|ENT Specialist|                null| 300|
| BSc - Zoology, BAMS|12 years experience|  null|Bannerghatta Road...|      Ayurveda|Bannerghatta Road...| 250|
|                BAMS|20 years experience|  100%|Keelkattalai, Che...|      Ayurveda|100% 4 Feedback K...| 250|
+--------------------+-------------------+------+--------------------+--------------+--------------------+----+
only showing top 5 rows

In [103]:
df.withColumn('New',1200-df.Fees).show()

+--------------------+-------------------+------+--------------------+----------------+--------------------+----+------+
|       Qualification|         Experience|Rating|               Place|         Profile|  Miscellaneous_Info|Fees|   New|
+--------------------+-------------------+------+--------------------+----------------+--------------------+----+------+
|BHMS, MD - Homeop...|24 years experience|  100%| Kakkanad, Ernakulam|       Homeopath|100% 16 Feedback ...| 100|1100.0|
|BAMS, MD - Ayurve...|12 years experience|   98%|Whitefield, Banga...|        Ayurveda|98% 76 Feedback W...| 350| 850.0|
|MBBS, MS - Otorhi...| 9 years experience|  null|Mathikere - BEL, ...|  ENT Specialist|                null| 300| 900.0|
| BSc - Zoology, BAMS|12 years experience|  null|Bannerghatta Road...|        Ayurveda|Bannerghatta Road...| 250| 950.0|
|                BAMS|20 years experience|  100%|Keelkattalai, Che...|        Ayurveda|100% 4 Feedback K...| 250| 950.0|
|                BAMS| 8 years experience|  null|      Porur, Chennai|        Ayurveda|                null| 100|1100.0|
|                BHMS|42 years experience|  null|   Karol Bagh, Delhi|       Homeopath|                null| 200|1000.0|
|                 BDS|10 years experience|   99%|  Arekere, Bangalore|         Dentist|Dental Fillings C...| 200|1000.0|
|MBBS, MD - Genera...|14 years experience|  null| Old City, Hyderabad|General Medicine|                null| 100|1100.0|
|            BSc, BDS|23 years experience|  null|   Athani, Ernakulam|         Dentist|                null| 100|1100.0|
| MBBS, MS, DNB - ENT| 5 years experience|  null|Thousand Lights, ...|  ENT Specialist|                null| 700| 500.0|
|                BAMS| 7 years experience|  null|Somajiguda, Hyder...|        Ayurveda|                null| 100|1100.0|
|            BDS, MDS| 9 years experience|   98%|Coimbatore Raceco...|         Dentist|98% 14 Feedback C...| 200|1000.0|
|BDS, MDS - Oral &...|21 years experience|  null|Jubilee Hills, Hy...|         Dentist|Dental Crowns Fac...| 350| 850.0|
|MBBS, Diploma in ...|12 years experience|  null|       Kondli, Delhi|  ENT Specialist|                null| 500| 700.0|
|MBBS, MD - Genera...|10 years experience|  null|Saroor Nagar, Hyd...|General Medicine|                null| 200|1000.0|
|MBBS, Diploma in ...|24 years experience|  null|Tambaram West, Ch...|  ENT Specialist|                null| 100|1100.0|
|MBBS, MF- Homeopathy| 5 years experience|  null|Purasawakkam, Che...|       Homeopath|                null| 300| 900.0|
|      MBBS, MS - ENT|19 years experience|   79%|     KPHB, Hyderabad|  ENT Specialist|79% 8 Feedback KP...| 400| 800.0|
|                MBBS|19 years experience|  100%|HSR Layout, Banga...|General Medicine|100% 4 Feedback H...| 150|1050.0|
+--------------------+-------------------+------+--------------------+----------------+--------------------+----+------+
only showing top 20 rows

In [22]:
from pyspark.sql.functions import *#col, expr, split, regexp_replace, count,sum,col,desc,rank
from pyspark.sql.types import StructType, StructField, StringType, IntegerType
df.createOrReplaceTempView('df_Table')

In [23]:
from pyspark.sql.window import Window

In [24]:
df.select(df.Profile,df.Experience,df.Fees,rank().over(Window.partitionBy(df.Profile,df.Experience).orderBy(desc(df.Fees)))).show()

+--------+-------------------+----+-----------------------------------------------------------------------------------------------------------------------------+
| Profile|         Experience|Fees|RANK() OVER (PARTITION BY Profile, Experience ORDER BY Fees DESC NULLS LAST ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW)|
+--------+-------------------+----+-----------------------------------------------------------------------------------------------------------------------------+
|Ayurveda|10 years experience| 150|                                                                                                                            1|
|Ayurveda|12 years experience| 350|                                                                                                                            1|
|Ayurveda|12 years experience| 250|                                                                                                                            2|
|Ayurveda|12 years experience| 100|                                                                                                                            3|
|Ayurveda|15 years experience| 250|                                                                                                                            1|
|Ayurveda|16 years experience| 300|                                                                                                                            1|
|Ayurveda|20 years experience| 500|                                                                                                                            1|
|Ayurveda|20 years experience|  50|                                                                                                                            2|
|Ayurveda|20 years experience| 250|                                                                                                                            3|
|Ayurveda|27 years experience| 100|                                                                                                                            1|
|Ayurveda|31 years experience| 500|                                                                                                                            1|
|Ayurveda| 7 years experience| 100|                                                                                                                            1|
|Ayurveda| 8 years experience|  50|                                                                                                                            1|
|Ayurveda| 8 years experience| 300|                                                                                                                            2|
|Ayurveda| 8 years experience| 100|                                                                                                                            3|
|Ayurveda| 9 years experience| 300|                                                                                                                            1|
|Ayurveda| 9 years experience| 300|                                                                                                                            1|
|Ayurveda| 9 years experience| 150|                                                                                                                            3|
| Dentist|10 years experience| 250|                                                                                                                            1|
| Dentist|10 years experience| 250|                                                                                                                            1|
+--------+-------------------+----+-----------------------------------------------------------------------------------------------------------------------------+
only showing top 20 rows

In [121]:
df.withColumn('new2',col('Fees') <= 350).show()

+--------------------+-------------------+------+--------------------+----------------+--------------------+----+-----+
|       Qualification|         Experience|Rating|               Place|         Profile|  Miscellaneous_Info|Fees| new2|
+--------------------+-------------------+------+--------------------+----------------+--------------------+----+-----+
|BHMS, MD - Homeop...|24 years experience|  100%| Kakkanad, Ernakulam|       Homeopath|100% 16 Feedback ...| 100| true|
|BAMS, MD - Ayurve...|12 years experience|   98%|Whitefield, Banga...|        Ayurveda|98% 76 Feedback W...| 350| true|
|MBBS, MS - Otorhi...| 9 years experience|  null|Mathikere - BEL, ...|  ENT Specialist|                null| 300| true|
| BSc - Zoology, BAMS|12 years experience|  null|Bannerghatta Road...|        Ayurveda|Bannerghatta Road...| 250| true|
|                BAMS|20 years experience|  100%|Keelkattalai, Che...|        Ayurveda|100% 4 Feedback K...| 250| true|
|                BAMS| 8 years experience|  null|      Porur, Chennai|        Ayurveda|                null| 100| true|
|                BHMS|42 years experience|  null|   Karol Bagh, Delhi|       Homeopath|                null| 200| true|
|                 BDS|10 years experience|   99%|  Arekere, Bangalore|         Dentist|Dental Fillings C...| 200| true|
|MBBS, MD - Genera...|14 years experience|  null| Old City, Hyderabad|General Medicine|                null| 100| true|
|            BSc, BDS|23 years experience|  null|   Athani, Ernakulam|         Dentist|                null| 100| true|
| MBBS, MS, DNB - ENT| 5 years experience|  null|Thousand Lights, ...|  ENT Specialist|                null| 700|false|
|                BAMS| 7 years experience|  null|Somajiguda, Hyder...|        Ayurveda|                null| 100| true|
|            BDS, MDS| 9 years experience|   98%|Coimbatore Raceco...|         Dentist|98% 14 Feedback C...| 200| true|
|BDS, MDS - Oral &...|21 years experience|  null|Jubilee Hills, Hy...|         Dentist|Dental Crowns Fac...| 350| true|
|MBBS, Diploma in ...|12 years experience|  null|       Kondli, Delhi|  ENT Specialist|                null| 500|false|
|MBBS, MD - Genera...|10 years experience|  null|Saroor Nagar, Hyd...|General Medicine|                null| 200| true|
|MBBS, Diploma in ...|24 years experience|  null|Tambaram West, Ch...|  ENT Specialist|                null| 100| true|
|MBBS, MF- Homeopathy| 5 years experience|  null|Purasawakkam, Che...|       Homeopath|                null| 300| true|
|      MBBS, MS - ENT|19 years experience|   79%|     KPHB, Hyderabad|  ENT Specialist|79% 8 Feedback KP...| 400|false|
|                MBBS|19 years experience|  100%|HSR Layout, Banga...|General Medicine|100% 4 Feedback H...| 150| true|
+--------------------+-------------------+------+--------------------+----------------+--------------------+----+-----+
only showing top 20 rows

In [9]:
df.groupBy('Profile','Place').agg(sum('Fees'), max('Fees'), min('Fees')).show()

+--------+--------------------+---------+---------+---------+
| Profile|               Place|sum(Fees)|max(Fees)|min(Fees)|
+--------+--------------------+---------+---------+---------+
|Ayurveda|Anna Nagar East, ...|    250.0|      250|      250|
|Ayurveda|   Bakkarwala, Delhi|    150.0|      150|      150|
|Ayurveda|Bannerghatta Road...|    250.0|      250|      250|
|Ayurveda|    Chetpet, Chennai|    150.0|      150|      150|
|Ayurveda|  Dadar West, Mumbai|    100.0|      100|      100|
|Ayurveda|Dahisar East, Mumbai|    100.0|      100|      100|
|Ayurveda|Dahisar West, Mumbai|     50.0|       50|       50|
|Ayurveda|Goregaon West, Mu...|    500.0|      500|      500|
|Ayurveda| IP Extension, Delhi|    300.0|      300|      300|
|Ayurveda|     KPHB, Hyderabad|    300.0|      300|      300|
|Ayurveda|Keelkattalai, Che...|    250.0|      250|      250|
|Ayurveda|      Porur, Chennai|    100.0|      100|      100|
|Ayurveda| RT Nagar, Bangalore|    500.0|      500|      500|
|Ayurveda|     Sagarpur, Delhi|     50.0|       50|       50|
|Ayurveda|Saroor Nagar, Hyd...|    300.0|      300|      300|
|Ayurveda|Somajiguda, Hyder...|    100.0|      100|      100|
|Ayurveda|Whitefield, Banga...|    350.0|      350|      350|
|Ayurveda|Yelahanka, Bangalore|    300.0|      300|      300|
| Dentist|AS Rao Nagar, Hyd...|    200.0|      200|      200|
| Dentist|   Ambattur, Chennai|    100.0|      100|      100|
+--------+--------------------+---------+---------+---------+
only showing top 20 rows

In [10]:
#df[['Qualification']].show(10)
df.select(col('Qualification'), split('Qualification','-')[0]).show(10)
spark.sql(""" select Qualification, split(Qualification,'-')[0] from df_Table            
            """).show(10)

+--------------------+------------------------------+
|       Qualification|split(Qualification, -, -1)[0]|
+--------------------+------------------------------+
|BHMS, MD - Homeop...|                     BHMS, MD |
|BAMS, MD - Ayurve...|                     BAMS, MD |
|MBBS, MS - Otorhi...|                     MBBS, MS |
| BSc - Zoology, BAMS|                          BSc |
|                BAMS|                          BAMS|
|                BAMS|                          BAMS|
|                BHMS|                          BHMS|
|                 BDS|                           BDS|
|MBBS, MD - Genera...|                     MBBS, MD |
|            BSc, BDS|                      BSc, BDS|
+--------------------+------------------------------+
only showing top 10 rows

+--------------------+------------------------------+
|       Qualification|split(Qualification, -, -1)[0]|
+--------------------+------------------------------+
|BHMS, MD - Homeop...|                     BHMS, MD |
|BAMS, MD - Ayurve...|                     BAMS, MD |
|MBBS, MS - Otorhi...|                     MBBS, MS |
| BSc - Zoology, BAMS|                          BSc |
|                BAMS|                          BAMS|
|                BAMS|                          BAMS|
|                BHMS|                          BHMS|
|                 BDS|                           BDS|
|MBBS, MD - Genera...|                     MBBS, MD |
|            BSc, BDS|                      BSc, BDS|
+--------------------+------------------------------+
only showing top 10 rows

In [132]:
df.select('Fees').distinct().show()
df.groupby('Qualification').agg(sum(col('Fees'))).select('Qualification',col('sum(Fees)').alias('Agg_Fee_Sum')).show()

+----+
|Fees|
+----+
| 800|
| 700|
| 200|
| 250|
| 300|
| 100|
| 650|
| 350|
| 150|
| 500|
| 600|
| 750|
| 400|
|  50|
+----+

+--------------------+-----------+
|       Qualification|Agg_Fee_Sum|
+--------------------+-----------+
|MBBS, MD - Dermat...|      400.0|
|BDS, P.G Diploma ...|      200.0|
|BDS, MDS - Oral &...|      400.0|
|MDS-Oral Patholog...|      200.0|
|BDS, MDS - Period...|      300.0|
|BDS, MDS - Paedod...|      300.0|
|                BAMS|     1750.0|
|BAMS, Post Gradua...|       50.0|
|MBBS, Diploma in ...|      300.0|
|MD - Ayurveda Med...|      500.0|
|Diploma in Dermat...|      500.0|
|MBBS, MS - ENT, D...|      100.0|
|MBBS, MS - ENT, D...|      500.0|
|BDS, MDS - Period...|      500.0|
| MBBS, MS, DNB - ENT|      700.0|
|MD - General Medi...|      100.0|
|MD - Dermatology ...|      250.0|
|MBBS, MF- Homeopathy|      300.0|
|MD - Dermatology,...|      600.0|
|         MRCPS, MBBS|      100.0|
+--------------------+-----------+
only showing top 20 rows

In [133]:
df[['Qualification','Experience']].show(5)
df.show(5)

+--------------------+-------------------+
|       Qualification|         Experience|
+--------------------+-------------------+
|BHMS, MD - Homeop...|24 years experience|
|BAMS, MD - Ayurve...|12 years experience|
|MBBS, MS - Otorhi...| 9 years experience|
| BSc - Zoology, BAMS|12 years experience|
|                BAMS|20 years experience|
+--------------------+-------------------+
only showing top 5 rows

+--------------------+-------------------+------+--------------------+--------------+--------------------+----+
|       Qualification|         Experience|Rating|               Place|       Profile|  Miscellaneous_Info|Fees|
+--------------------+-------------------+------+--------------------+--------------+--------------------+----+
|BHMS, MD - Homeop...|24 years experience|  100%| Kakkanad, Ernakulam|     Homeopath|100% 16 Feedback ...| 100|
|BAMS, MD - Ayurve...|12 years experience|   98%|Whitefield, Banga...|      Ayurveda|98% 76 Feedback W...| 350|
|MBBS, MS - Otorhi...| 9 years experience|  null|Mathikere - BEL, ...|ENT Specialist|                null| 300|
| BSc - Zoology, BAMS|12 years experience|  null|Bannerghatta Road...|      Ayurveda|Bannerghatta Road...| 250|
|                BAMS|20 years experience|  100%|Keelkattalai, Che...|      Ayurveda|100% 4 Feedback K...| 250|
+--------------------+-------------------+------+--------------------+--------------+--------------------+----+
only showing top 5 rows

for i in list(df.collect()):
    print(list(i))

In [161]:
df.select(df.Place,trim(df.Place), split(col('Place'),',')[1].alias('New'),rpad(split(col('Place'),',')[0],15," ").alias('New')).show()

+--------------------+--------------------+-----------+---------------+
|               Place|         trim(Place)|        New|            New|
+--------------------+--------------------+-----------+---------------+
| Kakkanad, Ernakulam| Kakkanad, Ernakulam|  Ernakulam|Kakkanad       |
|Whitefield, Banga...|Whitefield, Banga...|  Bangalore|Whitefield     |
|Mathikere - BEL, ...|Mathikere - BEL, ...|  Bangalore|Mathikere - BEL|
|Bannerghatta Road...|Bannerghatta Road...|  Bangalore|Bannerghatta Ro|
|Keelkattalai, Che...|Keelkattalai, Che...|    Chennai|Keelkattalai   |
|      Porur, Chennai|      Porur, Chennai|    Chennai|Porur          |
|   Karol Bagh, Delhi|   Karol Bagh, Delhi|      Delhi|Karol Bagh     |
|  Arekere, Bangalore|  Arekere, Bangalore|  Bangalore|Arekere        |
| Old City, Hyderabad| Old City, Hyderabad|  Hyderabad|Old City       |
|   Athani, Ernakulam|   Athani, Ernakulam|  Ernakulam|Athani         |
|Thousand Lights, ...|Thousand Lights, ...|    Chennai|Thousand Lights|
|Somajiguda, Hyder...|Somajiguda, Hyder...|  Hyderabad|Somajiguda     |
|Coimbatore Raceco...|Coimbatore Raceco...| Coimbatore|Coimbatore Race|
|Jubilee Hills, Hy...|Jubilee Hills, Hy...|  Hyderabad|Jubilee Hills  |
|       Kondli, Delhi|       Kondli, Delhi|      Delhi|Kondli         |
|Saroor Nagar, Hyd...|Saroor Nagar, Hyd...|  Hyderabad|Saroor Nagar   |
|Tambaram West, Ch...|Tambaram West, Ch...|    Chennai|Tambaram West  |
|Purasawakkam, Che...|Purasawakkam, Che...|    Chennai|Purasawakkam   |
|     KPHB, Hyderabad|     KPHB, Hyderabad|  Hyderabad|KPHB           |
|HSR Layout, Banga...|HSR Layout, Banga...|  Bangalore|HSR Layout     |
+--------------------+--------------------+-----------+---------------+
only showing top 20 rows

In [182]:
df.where(col('Profile') == 'Homeopath').show()

+--------------------+-------------------+------+--------------------+---------+--------------------+----+
|       Qualification|         Experience|Rating|               Place|  Profile|  Miscellaneous_Info|Fees|
+--------------------+-------------------+------+--------------------+---------+--------------------+----+
|BHMS, MD - Homeop...|24 years experience|  100%| Kakkanad, Ernakulam|Homeopath|100% 16 Feedback ...| 100|
|                BHMS|42 years experience|  null|   Karol Bagh, Delhi|Homeopath|                null| 200|
|MBBS, MF- Homeopathy| 5 years experience|  null|Purasawakkam, Che...|Homeopath|                null| 300|
|BHMS, Diploma in ...|12 years experience|   90%|Borivali West, Mu...|Homeopath|90% 2 Feedback Bo...| 300|
|BHMS, M. D. Hom. ...|12 years experience|  100%|Dahisar West, Mumbai|Homeopath|100% 21 Feedback ...| 500|
|MD - Homeopathy, ...|22 years experience|   99%|       Powai, Mumbai|Homeopath|Skin Disease Trea...| 500|
|                BHMS| 5 years experience|  null|   Meera Bagh, Delhi|Homeopath|                null| 150|
|                BHMS|22 years experience|  null|   Chattarpur, Delhi|Homeopath|                null| 200|
|BHMS, MS - Psycho...|14 years experience|  100%|HSR Layout, Banga...|Homeopath|100% 43 Feedback ...| 200|
|BHMS, Diploma In ...| 6 years experience|  null| Adambakkam, Chennai|Homeopath|                null| 150|
|                BHMS|18 years experience|  null|   Mahalaxmi, Mumbai|Homeopath|                null| 100|
|                BHMS|12 years experience|  100%|Kanakpura Road, B...|Homeopath|Pediaterics Skin ...| 500|
|BHMS, MD - Homeop...| 9 years experience|  null|Yelahanka New Tow...|Homeopath|                null| 500|
|                BHMS|12 years experience|  null| Nesapakkam, Chennai|Homeopath|                null| 100|
|                BHMS|12 years experience|  null|Malleswaram, Bang...|Homeopath|Skin Allergy Trea...| 500|
|                BHMS|26 years experience|   82%|BTM Layout 2nd St...|Homeopath|82% 15 Feedback B...| 200|
|                BHMS| 8 years experience|  100%|South Extension 2...|Homeopath|100% 9 Feedback S...| 350|
|BHMS, MD - Homeop...|36 years experience|  null|Kolenchery, Ernak...|Homeopath|                null| 250|
+--------------------+-------------------+------+--------------------+---------+--------------------+----+

In [191]:
df.withColumn('New_col', df.Experience.isin ('10 years experience','24 years experience') & (df.Qualification == 'BDS')). \
        select('Qualification','Experience','New_col').where(col('New_col') == True).show()

+-------------+-------------------+-------+
|Qualification|         Experience|New_col|
+-------------+-------------------+-------+
|          BDS|10 years experience|   true|
|          BDS|10 years experience|   true|
|          BDS|10 years experience|   true|
|          BDS|10 years experience|   true|
+-------------+-------------------+-------+

In [12]:
df.show(5)

+--------------------+-------------------+------+--------------------+--------------+--------------------+----+
|       Qualification|         Experience|Rating|               Place|       Profile|  Miscellaneous_Info|Fees|
+--------------------+-------------------+------+--------------------+--------------+--------------------+----+
|BHMS, MD - Homeop...|24 years experience|  100%| Kakkanad, Ernakulam|     Homeopath|100% 16 Feedback ...| 100|
|BAMS, MD - Ayurve...|12 years experience|   98%|Whitefield, Banga...|      Ayurveda|98% 76 Feedback W...| 350|
|MBBS, MS - Otorhi...| 9 years experience|  null|Mathikere - BEL, ...|ENT Specialist|                null| 300|
| BSc - Zoology, BAMS|12 years experience|  null|Bannerghatta Road...|      Ayurveda|Bannerghatta Road...| 250|
|                BAMS|20 years experience|  100%|Keelkattalai, Che...|      Ayurveda|100% 4 Feedback K...| 250|
+--------------------+-------------------+------+--------------------+--------------+--------------------+----+
only showing top 5 rows

In [14]:
df.groupby('Profile').agg(sum('Fees')).select('Profile',col('sum(Fees)').alias('Agg_Col')).show()

+----------------+-------+
|         Profile|Agg_Col|
+----------------+-------+
|  Dermatologists|10350.0|
|        Ayurveda| 4100.0|
|       Homeopath| 5100.0|
|  ENT Specialist| 7050.0|
|General Medicine| 8200.0|
|         Dentist| 9650.0|
+----------------+-------+

In [15]:
df.groupby(col('Profile')).agg(sum("Fees"),count(col("Fees")).alias('Count_Fees')).show()

+----------------+---------+----------+
|         Profile|sum(Fees)|Count_Fees|
+----------------+---------+----------+
|  Dermatologists|  10350.0|        25|
|        Ayurveda|   4100.0|        18|
|       Homeopath|   5100.0|        18|
|  ENT Specialist|   7050.0|        19|
|General Medicine|   8200.0|        29|
|         Dentist|   9650.0|        40|
+----------------+---------+----------+

In [193]:
df.show(5)

+--------------------+-------------------+------+--------------------+--------------+--------------------+----+
|       Qualification|         Experience|Rating|               Place|       Profile|  Miscellaneous_Info|Fees|
+--------------------+-------------------+------+--------------------+--------------+--------------------+----+
|BHMS, MD - Homeop...|24 years experience|  100%| Kakkanad, Ernakulam|     Homeopath|100% 16 Feedback ...| 100|
|BAMS, MD - Ayurve...|12 years experience|   98%|Whitefield, Banga...|      Ayurveda|98% 76 Feedback W...| 350|
|MBBS, MS - Otorhi...| 9 years experience|  null|Mathikere - BEL, ...|ENT Specialist|                null| 300|
| BSc - Zoology, BAMS|12 years experience|  null|Bannerghatta Road...|      Ayurveda|Bannerghatta Road...| 250|
|                BAMS|20 years experience|  100%|Keelkattalai, Che...|      Ayurveda|100% 4 Feedback K...| 250|
+--------------------+-------------------+------+--------------------+--------------+--------------------+----+
only showing top 5 rows

In [217]:
df.groupby().agg(sum('Fees')).show()

+---------+
|sum(Fees)|
+---------+
|  44450.0|
+---------+

In [230]:
df.select('Qualification', pow('Fees',2), expr("""pow(Fees,2)""")).show()

+--------------------+----------------+------------+
|       Qualification|POWER(Fees, 2.0)|pow(Fees, 2)|
+--------------------+----------------+------------+
|BHMS, MD - Homeop...|         10000.0|     10000.0|
|BAMS, MD - Ayurve...|        122500.0|    122500.0|
|MBBS, MS - Otorhi...|         90000.0|     90000.0|
| BSc - Zoology, BAMS|         62500.0|     62500.0|
|                BAMS|         62500.0|     62500.0|
|                BAMS|         10000.0|     10000.0|
|                BHMS|         40000.0|     40000.0|
|                 BDS|         40000.0|     40000.0|
|MBBS, MD - Genera...|         10000.0|     10000.0|
|            BSc, BDS|         10000.0|     10000.0|
| MBBS, MS, DNB - ENT|        490000.0|    490000.0|
|                BAMS|         10000.0|     10000.0|
|            BDS, MDS|         40000.0|     40000.0|
|BDS, MDS - Oral &...|        122500.0|    122500.0|
|MBBS, Diploma in ...|        250000.0|    250000.0|
|MBBS, MD - Genera...|         40000.0|     40000.0|
|MBBS, Diploma in ...|         10000.0|     10000.0|
|MBBS, MF- Homeopathy|         90000.0|     90000.0|
|      MBBS, MS - ENT|        160000.0|    160000.0|
|                MBBS|         22500.0|     22500.0|
+--------------------+----------------+------------+
only showing top 20 rows

In [231]:
df.show(5)

+--------------------+-------------------+------+--------------------+--------------+--------------------+----+
|       Qualification|         Experience|Rating|               Place|       Profile|  Miscellaneous_Info|Fees|
+--------------------+-------------------+------+--------------------+--------------+--------------------+----+
|BHMS, MD - Homeop...|24 years experience|  100%| Kakkanad, Ernakulam|     Homeopath|100% 16 Feedback ...| 100|
|BAMS, MD - Ayurve...|12 years experience|   98%|Whitefield, Banga...|      Ayurveda|98% 76 Feedback W...| 350|
|MBBS, MS - Otorhi...| 9 years experience|  null|Mathikere - BEL, ...|ENT Specialist|                null| 300|
| BSc - Zoology, BAMS|12 years experience|  null|Bannerghatta Road...|      Ayurveda|Bannerghatta Road...| 250|
|                BAMS|20 years experience|  100%|Keelkattalai, Che...|      Ayurveda|100% 4 Feedback K...| 250|
+--------------------+-------------------+------+--------------------+--------------+--------------------+----+
only showing top 5 rows

In [233]:
df.select(sum('Fees')).show()

+---------+
|sum(Fees)|
+---------+
|  44450.0|
+---------+

In [32]:
schema = StructType([
                    StructField("Name",StringType(),False),
                    StructField("Age",IntegerType(),False),
                    StructField("Role",StringType(),True)
])

data = [("Harshal",22,"SWE"),("Mohit",23,"DE"),("Suresh",24,"SDET")]

df_new = spark.createDataFrame(data,schema)

Traceback (most recent call last):
  File "C:\Users\Rahul\AppData\Local\Programs\Python\Python311\Lib\site-packages\pyspark\serializers.py", line 458, in dumps
    return cloudpickle.dumps(obj, pickle_protocol)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\Rahul\AppData\Local\Programs\Python\Python311\Lib\site-packages\pyspark\cloudpickle\cloudpickle_fast.py", line 73, in dumps
    cp.dump(obj)
  File "C:\Users\Rahul\AppData\Local\Programs\Python\Python311\Lib\site-packages\pyspark\cloudpickle\cloudpickle_fast.py", line 602, in dump
    return Pickler.dump(self, obj)
           ^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\Rahul\AppData\Local\Programs\Python\Python311\Lib\site-packages\pyspark\cloudpickle\cloudpickle_fast.py", line 692, in reducer_override
    return self._function_reduce(obj)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\Rahul\AppData\Local\Programs\Python\Python311\Lib\site-packages\pyspark\cloudpickle\cloudpickle_fast.py", line 565, in _function_reduce
    return self._dynamic_function_reduce(obj)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\Rahul\AppData\Local\Programs\Python\Python311\Lib\site-packages\pyspark\cloudpickle\cloudpickle_fast.py", line 546, in _dynamic_function_reduce
    state = _function_getstate(func)
            ^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\Rahul\AppData\Local\Programs\Python\Python311\Lib\site-packages\pyspark\cloudpickle\cloudpickle_fast.py", line 157, in _function_getstate
    f_globals_ref = _extract_code_globals(func.__code__)
                    ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\Rahul\AppData\Local\Programs\Python\Python311\Lib\site-packages\pyspark\cloudpickle\cloudpickle.py", line 334, in _extract_code_globals
    out_names = {names[oparg]: None for _, oparg in _walk_global_ops(co)}
                ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\Rahul\AppData\Local\Programs\Python\Python311\Lib\site-packages\pyspark\cloudpickle\cloudpickle.py", line 334, in <dictcomp>
    out_names = {names[oparg]: None for _, oparg in _walk_global_ops(co)}
                 ~~~~~^^^^^^^
IndexError: tuple index out of range

PicklingError: Could not serialize object: IndexError: tuple index out of range

In [234]:
df.select(ltrim('Qualification')).show()

+--------------------+
|ltrim(Qualification)|
+--------------------+
|BHMS, MD - Homeop...|
|BAMS, MD - Ayurve...|
|MBBS, MS - Otorhi...|
| BSc - Zoology, BAMS|
|                BAMS|
|                BAMS|
|                BHMS|
|                 BDS|
|MBBS, MD - Genera...|
|            BSc, BDS|
| MBBS, MS, DNB - ENT|
|                BAMS|
|            BDS, MDS|
|BDS, MDS - Oral &...|
|MBBS, Diploma in ...|
|MBBS, MD - Genera...|
|MBBS, Diploma in ...|
|MBBS, MF- Homeopathy|
|      MBBS, MS - ENT|
|                MBBS|
+--------------------+
only showing top 20 rows

In [258]:
df.show(5)

+--------------------+-------------------+------+--------------------+--------------+--------------------+----+
|       Qualification|         Experience|Rating|               Place|       Profile|  Miscellaneous_Info|Fees|
+--------------------+-------------------+------+--------------------+--------------+--------------------+----+
|BHMS, MD - Homeop...|24 years experience|  100%| Kakkanad, Ernakulam|     Homeopath|100% 16 Feedback ...| 100|
|BAMS, MD - Ayurve...|12 years experience|   98%|Whitefield, Banga...|      Ayurveda|98% 76 Feedback W...| 350|
|MBBS, MS - Otorhi...| 9 years experience|  null|Mathikere - BEL, ...|ENT Specialist|                null| 300|
| BSc - Zoology, BAMS|12 years experience|  null|Bannerghatta Road...|      Ayurveda|Bannerghatta Road...| 250|
|                BAMS|20 years experience|  100%|Keelkattalai, Che...|      Ayurveda|100% 4 Feedback K...| 250|
+--------------------+-------------------+------+--------------------+--------------+--------------------+----+
only showing top 5 rows

In [274]:
df.select(regexp_extract('Miscellaneous_Info','100',0)).show()

+------------------------------------------+
|regexp_extract(Miscellaneous_Info, 100, 0)|
+------------------------------------------+
|                                       100|
|                                          |
|                                      null|
|                                          |
|                                       100|
|                                      null|
|                                      null|
|                                          |
|                                      null|
|                                      null|
|                                      null|
|                                      null|
|                                          |
|                                          |
|                                      null|
|                                      null|
|                                      null|
|                                      null|
|                                          |
|                                       100|
+------------------------------------------+
only showing top 20 rows

In [293]:
df.select(round(col('Fees').cast('float'),5)).show(5)

+-----------------------------+
|round(CAST(Fees AS FLOAT), 5)|
+-----------------------------+
|                        100.0|
|                        350.0|
|                        300.0|
|                        250.0|
|                        250.0|
+-----------------------------+
only showing top 5 rows

In [294]:
df.select('Profile','Rating',when(col('Profile')=='Homeopath',regexp_replace('Rating','100%','Fake')).otherwise(col('Rating'))).show(7)

+--------------+------+------------------------------------------------------------------------------------------+
|       Profile|Rating|CASE WHEN (Profile = Homeopath) THEN regexp_replace(Rating, 100%, Fake, 1) ELSE Rating END|
+--------------+------+------------------------------------------------------------------------------------------+
|     Homeopath|  100%|                                                                                      Fake|
|      Ayurveda|   98%|                                                                                       98%|
|ENT Specialist|  null|                                                                                      null|
|      Ayurveda|  null|                                                                                      null|
|      Ayurveda|  100%|                                                                                      100%|
|      Ayurveda|  null|                                                                                      null|
|     Homeopath|  null|                                                                                      null|
+--------------+------+------------------------------------------------------------------------------------------+
only showing top 7 rows

In [337]:
df.withColumn('Today Date', current_date()).select('Today Date',date_add(col('Today Date'),130),\
                                                   bround(months_between(date_add(col('Today Date'),131),current_date()),0),
                                                  translate(current_date(),'-',':'), to_date(current_timestamp(),'yyyy-DD')).show(5)

+----------+-------------------------+--------------------------------------------------------------------------+-------------------------------+-------------------------------------+
|Today Date|date_add(Today Date, 130)|bround(months_between(date_add(Today Date, 131), current_date(), true), 0)|translate(current_date(), -, :)|to_date(current_timestamp(), yyyy-DD)|
+----------+-------------------------+--------------------------------------------------------------------------+-------------------------------+-------------------------------------+
|2023-10-05|               2024-02-12|                                                                       4.0|                     2023:10:05|                           2023-10-05|
|2023-10-05|               2024-02-12|                                                                       4.0|                     2023:10:05|                           2023-10-05|
|2023-10-05|               2024-02-12|                                                                       4.0|                     2023:10:05|                           2023-10-05|
|2023-10-05|               2024-02-12|                                                                       4.0|                     2023:10:05|                           2023-10-05|
|2023-10-05|               2024-02-12|                                                                       4.0|                     2023:10:05|                           2023-10-05|
+----------+-------------------------+--------------------------------------------------------------------------+-------------------------------+-------------------------------------+
only showing top 5 rows

In [477]:
from pyspark.sql.types import *
def square(x):
    return (x**2)

udf_function = udf(lambda x: square(x), IntegerType())

spark.udf.register('square_sql',square)

df.createOrReplaceTempView('testing')
#df.select(udf_function(col('Fees')),col('Rating')).show()

In [481]:
spark.sql(""" select *, square_sql(ifnull(Fees,0)) from testing

""").show()

Py4JJavaError: An error occurred while calling o2716.showString.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 353.0 failed 1 times, most recent failure: Lost task 0.0 in stage 353.0 (TID 410) (192.168.1.40 executor driver): org.apache.spark.SparkException: Python worker failed to connect back.
	at org.apache.spark.api.python.PythonWorkerFactory.createSimpleWorker(PythonWorkerFactory.scala:189)
	at org.apache.spark.api.python.PythonWorkerFactory.create(PythonWorkerFactory.scala:109)
	at org.apache.spark.SparkEnv.createPythonWorker(SparkEnv.scala:124)
	at org.apache.spark.api.python.BasePythonRunner.compute(PythonRunner.scala:157)
	at org.apache.spark.sql.execution.python.BatchEvalPythonExec.evaluate(BatchEvalPythonExec.scala:81)
	at org.apache.spark.sql.execution.python.EvalPythonExec.$anonfun$doExecute$2(EvalPythonExec.scala:131)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitions$2(RDD.scala:855)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitions$2$adapted(RDD.scala:855)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:365)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:329)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:365)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:329)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:365)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:329)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:90)
	at org.apache.spark.scheduler.Task.run(Task.scala:136)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:548)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1504)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:551)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(Unknown Source)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(Unknown Source)
	at java.lang.Thread.run(Unknown Source)
Caused by: java.net.SocketTimeoutException: Accept timed out
	at java.net.DualStackPlainSocketImpl.waitForNewConnection(Native Method)
	at java.net.DualStackPlainSocketImpl.socketAccept(Unknown Source)
	at java.net.AbstractPlainSocketImpl.accept(Unknown Source)
	at java.net.PlainSocketImpl.accept(Unknown Source)
	at java.net.ServerSocket.implAccept(Unknown Source)
	at java.net.ServerSocket.accept(Unknown Source)
	at org.apache.spark.api.python.PythonWorkerFactory.createSimpleWorker(PythonWorkerFactory.scala:176)
	... 24 more

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.failJobAndIndependentStages(DAGScheduler.scala:2672)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2(DAGScheduler.scala:2608)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2$adapted(DAGScheduler.scala:2607)
	at scala.collection.mutable.ResizableArray.foreach(ResizableArray.scala:62)
	at scala.collection.mutable.ResizableArray.foreach$(ResizableArray.scala:55)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:2607)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1(DAGScheduler.scala:1182)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1$adapted(DAGScheduler.scala:1182)
	at scala.Option.foreach(Option.scala:407)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:1182)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:2860)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2802)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2791)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:952)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2238)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2259)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2278)
	at org.apache.spark.sql.execution.SparkPlan.executeTake(SparkPlan.scala:506)
	at org.apache.spark.sql.execution.SparkPlan.executeTake(SparkPlan.scala:459)
	at org.apache.spark.sql.execution.CollectLimitExec.executeCollect(limit.scala:48)
	at org.apache.spark.sql.Dataset.collectFromPlan(Dataset.scala:3868)
	at org.apache.spark.sql.Dataset.$anonfun$head$1(Dataset.scala:2863)
	at org.apache.spark.sql.Dataset.$anonfun$withAction$2(Dataset.scala:3858)
	at org.apache.spark.sql.execution.QueryExecution$.withInternalError(QueryExecution.scala:510)
	at org.apache.spark.sql.Dataset.$anonfun$withAction$1(Dataset.scala:3856)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$6(SQLExecution.scala:109)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:169)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$1(SQLExecution.scala:95)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:779)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:64)
	at org.apache.spark.sql.Dataset.withAction(Dataset.scala:3856)
	at org.apache.spark.sql.Dataset.head(Dataset.scala:2863)
	at org.apache.spark.sql.Dataset.take(Dataset.scala:3084)
	at org.apache.spark.sql.Dataset.getRows(Dataset.scala:288)
	at org.apache.spark.sql.Dataset.showString(Dataset.scala:327)
	at sun.reflect.GeneratedMethodAccessor122.invoke(Unknown Source)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(Unknown Source)
	at java.lang.reflect.Method.invoke(Unknown Source)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.lang.Thread.run(Unknown Source)
Caused by: org.apache.spark.SparkException: Python worker failed to connect back.
	at org.apache.spark.api.python.PythonWorkerFactory.createSimpleWorker(PythonWorkerFactory.scala:189)
	at org.apache.spark.api.python.PythonWorkerFactory.create(PythonWorkerFactory.scala:109)
	at org.apache.spark.SparkEnv.createPythonWorker(SparkEnv.scala:124)
	at org.apache.spark.api.python.BasePythonRunner.compute(PythonRunner.scala:157)
	at org.apache.spark.sql.execution.python.BatchEvalPythonExec.evaluate(BatchEvalPythonExec.scala:81)
	at org.apache.spark.sql.execution.python.EvalPythonExec.$anonfun$doExecute$2(EvalPythonExec.scala:131)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitions$2(RDD.scala:855)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitions$2$adapted(RDD.scala:855)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:365)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:329)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:365)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:329)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:365)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:329)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:90)
	at org.apache.spark.scheduler.Task.run(Task.scala:136)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:548)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1504)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:551)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(Unknown Source)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(Unknown Source)
	... 1 more
Caused by: java.net.SocketTimeoutException: Accept timed out
	at java.net.DualStackPlainSocketImpl.waitForNewConnection(Native Method)
	at java.net.DualStackPlainSocketImpl.socketAccept(Unknown Source)
	at java.net.AbstractPlainSocketImpl.accept(Unknown Source)
	at java.net.PlainSocketImpl.accept(Unknown Source)
	at java.net.ServerSocket.implAccept(Unknown Source)
	at java.net.ServerSocket.accept(Unknown Source)
	at org.apache.spark.api.python.PythonWorkerFactory.createSimpleWorker(PythonWorkerFactory.scala:176)
	... 24 more

In [418]:
df.select(translate(col('Rating'),'%','').cast('integer'), isnull(col('Rating'))).show(8)

+-----------------------------------+----------------+
|CAST(translate(Rating, %, ) AS INT)|(Rating IS NULL)|
+-----------------------------------+----------------+
|                                100|           false|
|                                 98|           false|
|                               null|            true|
|                               null|            true|
|                                100|           false|
|                               null|            true|
|                               null|            true|
|                                 99|           false|
+-----------------------------------+----------------+
only showing top 8 rows

In [467]:
from pyspark.sql.window import Window

#df.withColumn('Window_Column',rank().over(Window.partitionBy('Profile').orderBy(col('Fees').desc()))).show()
df.withColumn('Rank_col_2', dense_rank().over(Window.partitionBy('Profile','Experience').orderBy(col('Fees').asc_nulls_first()))).show()

+--------------------+-------------------+------+--------------------+--------+--------------------+----+----------+
|       Qualification|         Experience|Rating|               Place| Profile|  Miscellaneous_Info|Fees|Rank_col_2|
+--------------------+-------------------+------+--------------------+--------+--------------------+----+----------+
| BAMS, MS - Ayurveda|10 years experience|  null|   Bakkarwala, Delhi|Ayurveda|                null| 150|         1|
|                BAMS|12 years experience|   96%|  Dadar West, Mumbai|Ayurveda|96% 30 Feedback D...| 100|         1|
| BSc - Zoology, BAMS|12 years experience|  null|Bannerghatta Road...|Ayurveda|Bannerghatta Road...| 250|         2|
|BAMS, MD - Ayurve...|12 years experience|   98%|Whitefield, Banga...|Ayurveda|98% 76 Feedback W...| 350|         3|
|BAMS, MD - Acupun...|15 years experience|  null|Anna Nagar East, ...|Ayurveda|                null| 250|         1|
| BAMS, MS - Ayurveda|16 years experience|  100%|Yelahanka, Bangalore|Ayurveda|100% 3 Feedback Y...| 300|         1|
|                BAMS|20 years experience|  100%|Keelkattalai, Che...|Ayurveda|100% 4 Feedback K...| 250|         1|
|                BAMS|20 years experience|  null|     Sagarpur, Delhi|Ayurveda|                null|  50|         2|
|MD - Ayurveda Med...|20 years experience|  null|Goregaon West, Mu...|Ayurveda|                null| 500|         3|
|                BAMS|27 years experience|  null|Dahisar East, Mumbai|Ayurveda|                null| 100|         1|
|BAMS, Diploma in ...|31 years experience|  100%| RT Nagar, Bangalore|Ayurveda|100% 7 Feedback R...| 500|         1|
|                BAMS| 7 years experience|  null|Somajiguda, Hyder...|Ayurveda|                null| 100|         1|
|                BAMS| 8 years experience|  null|      Porur, Chennai|Ayurveda|                null| 100|         1|
|                BAMS| 8 years experience|  null|Saroor Nagar, Hyd...|Ayurveda|                null| 300|         2|
|BAMS, Post Gradua...| 8 years experience|  null|Dahisar West, Mumbai|Ayurveda|                null|  50|         3|
|                BAMS| 9 years experience|  null|    Chetpet, Chennai|Ayurveda|                null| 150|         1|
|                BAMS| 9 years experience|  null| IP Extension, Delhi|Ayurveda|                null| 300|         2|
|                BAMS| 9 years experience|  100%|     KPHB, Hyderabad|Ayurveda|Arthritis Managem...| 300|         2|
|                 BDS|10 years experience|  100%|Vileparle East, M...| Dentist|Ceramic Veneers /...| 100|         1|
|                 BDS|10 years experience|   99%|  Arekere, Bangalore| Dentist|Dental Fillings C...| 200|         2|
+--------------------+-------------------+------+--------------------+--------+--------------------+----+----------+
only showing top 20 rows

In [419]:
'1' + 'lal'

'1lal'

In [433]:
df.show(5)

+--------------------+-------------------+------+--------------------+--------------+--------------------+----+
|       Qualification|         Experience|Rating|               Place|       Profile|  Miscellaneous_Info|Fees|
+--------------------+-------------------+------+--------------------+--------------+--------------------+----+
|BHMS, MD - Homeop...|24 years experience|  100%| Kakkanad, Ernakulam|     Homeopath|100% 16 Feedback ...| 100|
|BAMS, MD - Ayurve...|12 years experience|   98%|Whitefield, Banga...|      Ayurveda|98% 76 Feedback W...| 350|
|MBBS, MS - Otorhi...| 9 years experience|  null|Mathikere - BEL, ...|ENT Specialist|                null| 300|
| BSc - Zoology, BAMS|12 years experience|  null|Bannerghatta Road...|      Ayurveda|Bannerghatta Road...| 250|
|                BAMS|20 years experience|  100%|Keelkattalai, Che...|      Ayurveda|100% 4 Feedback K...| 250|
+--------------------+-------------------+------+--------------------+--------------+--------------------+----+
only showing top 5 rows

In [438]:
pivoted = df.groupby('Profile').pivot('Fees').sum()

In [439]:
pivoted.select('*').show()

+----------------+
|         Profile|
+----------------+
|  Dermatologists|
|        Ayurveda|
|       Homeopath|
|  ENT Specialist|
|General Medicine|
|         Dentist|
+----------------+

In [443]:
sc = spark.SparkContext()

AttributeError: 'SparkSession' object has no attribute 'SparkContext'

In [341]:
df.select('Rating', coalesce('Rating',lit('UNKNOWN'))).show(7)

+------+-------------------------+
|Rating|coalesce(Rating, UNKNOWN)|
+------+-------------------------+
|  100%|                     100%|
|   98%|                      98%|
|  null|                  UNKNOWN|
|  null|                  UNKNOWN|
|  100%|                     100%|
|  null|                  UNKNOWN|
|  null|                  UNKNOWN|
+------+-------------------------+
only showing top 7 rows

In [346]:
df.select(current_date(), current_timestamp(),to_timestamp(current_date())).show(5,False)

+--------------+-----------------------+----------------------------+
|current_date()|current_timestamp()    |to_timestamp(current_date())|
+--------------+-----------------------+----------------------------+
|2023-10-05    |2023-10-05 16:38:58.171|2023-10-05 00:00:00         |
|2023-10-05    |2023-10-05 16:38:58.171|2023-10-05 00:00:00         |
|2023-10-05    |2023-10-05 16:38:58.171|2023-10-05 00:00:00         |
|2023-10-05    |2023-10-05 16:38:58.171|2023-10-05 00:00:00         |
|2023-10-05    |2023-10-05 16:38:58.171|2023-10-05 00:00:00         |
+--------------+-----------------------+----------------------------+
only showing top 5 rows

In [356]:
df.select(df.Rating, df['Rating'],when(df['Rating'].isNull(),lit('ABC')).otherwise(df.Rating)).show(13)

+------+------+---------------------------------------------------+
|Rating|Rating|CASE WHEN (Rating IS NULL) THEN ABC ELSE Rating END|
+------+------+---------------------------------------------------+
|  100%|  100%|                                               100%|
|   98%|   98%|                                                98%|
|  null|  null|                                                ABC|
|  null|  null|                                                ABC|
|  100%|  100%|                                               100%|
|  null|  null|                                                ABC|
|  null|  null|                                                ABC|
|   99%|   99%|                                                99%|
|  null|  null|                                                ABC|
|  null|  null|                                                ABC|
|  null|  null|                                                ABC|
|  null|  null|                                                ABC|
|   98%|   98%|                                                98%|
+------+------+---------------------------------------------------+
only showing top 13 rows

In [383]:
df.select(create_map(col('Profile'),col('Rating')),explode(create_map(col('Profile'),col('Rating'))), split(col('Qualification'),' ')).show(10)

+--------------------+----------------+-----+---------------------------+
|map(Profile, Rating)|             key|value|split(Qualification,  , -1)|
+--------------------+----------------+-----+---------------------------+
| {Homeopath -> 100%}|       Homeopath| 100%|       [BHMS,, MD, -, Ho...|
|   {Ayurveda -> 98%}|        Ayurveda|  98%|       [BAMS,, MD, -, Ay...|
|{ENT Specialist -...|  ENT Specialist| null|       [MBBS,, MS, -, Ot...|
|  {Ayurveda -> null}|        Ayurveda| null|       [BSc, -, Zoology,...|
|  {Ayurveda -> 100%}|        Ayurveda| 100%|                     [BAMS]|
|  {Ayurveda -> null}|        Ayurveda| null|                     [BAMS]|
| {Homeopath -> null}|       Homeopath| null|                     [BHMS]|
|    {Dentist -> 99%}|         Dentist|  99%|                      [BDS]|
|{General Medicine...|General Medicine| null|       [MBBS,, MD, -, Ge...|
|   {Dentist -> null}|         Dentist| null|                [BSc,, BDS]|
+--------------------+----------------+-----+---------------------------+
only showing top 10 rows

In [420]:
df.createOrReplaceTempView('Test_Table')

In [427]:
df.show(6)

+--------------------+-------------------+------+--------------------+--------------+--------------------+----+
|       Qualification|         Experience|Rating|               Place|       Profile|  Miscellaneous_Info|Fees|
+--------------------+-------------------+------+--------------------+--------------+--------------------+----+
|BHMS, MD - Homeop...|24 years experience|  100%| Kakkanad, Ernakulam|     Homeopath|100% 16 Feedback ...| 100|
|BAMS, MD - Ayurve...|12 years experience|   98%|Whitefield, Banga...|      Ayurveda|98% 76 Feedback W...| 350|
|MBBS, MS - Otorhi...| 9 years experience|  null|Mathikere - BEL, ...|ENT Specialist|                null| 300|
| BSc - Zoology, BAMS|12 years experience|  null|Bannerghatta Road...|      Ayurveda|Bannerghatta Road...| 250|
|                BAMS|20 years experience|  100%|Keelkattalai, Che...|      Ayurveda|100% 4 Feedback K...| 250|
|                BAMS| 8 years experience|  null|      Porur, Chennai|      Ayurveda|                null| 100|
+--------------------+-------------------+------+--------------------+--------------+--------------------+----+
only showing top 6 rows

In [428]:
cols = ['Qualification','Experience','Rating','Place','Profile']

In [432]:
df.drop(*cols).show()
df.show()

+--------------------+----+
|  Miscellaneous_Info|Fees|
+--------------------+----+
|100% 16 Feedback ...| 100|
|98% 76 Feedback W...| 350|
|                null| 300|
|Bannerghatta Road...| 250|
|100% 4 Feedback K...| 250|
|                null| 100|
|                null| 200|
|Dental Fillings C...| 200|
|                null| 100|
|                null| 100|
|                null| 700|
|                null| 100|
|98% 14 Feedback C...| 200|
|Dental Crowns Fac...| 350|
|                null| 500|
|                null| 200|
|                null| 100|
|                null| 300|
|79% 8 Feedback KP...| 400|
|100% 4 Feedback H...| 150|
+--------------------+----+
only showing top 20 rows

+--------------------+-------------------+------+--------------------+----------------+--------------------+----+
|       Qualification|         Experience|Rating|               Place|         Profile|  Miscellaneous_Info|Fees|
+--------------------+-------------------+------+--------------------+----------------+--------------------+----+
|BHMS, MD - Homeop...|24 years experience|  100%| Kakkanad, Ernakulam|       Homeopath|100% 16 Feedback ...| 100|
|BAMS, MD - Ayurve...|12 years experience|   98%|Whitefield, Banga...|        Ayurveda|98% 76 Feedback W...| 350|
|MBBS, MS - Otorhi...| 9 years experience|  null|Mathikere - BEL, ...|  ENT Specialist|                null| 300|
| BSc - Zoology, BAMS|12 years experience|  null|Bannerghatta Road...|        Ayurveda|Bannerghatta Road...| 250|
|                BAMS|20 years experience|  100%|Keelkattalai, Che...|        Ayurveda|100% 4 Feedback K...| 250|
|                BAMS| 8 years experience|  null|      Porur, Chennai|        Ayurveda|                null| 100|
|                BHMS|42 years experience|  null|   Karol Bagh, Delhi|       Homeopath|                null| 200|
|                 BDS|10 years experience|   99%|  Arekere, Bangalore|         Dentist|Dental Fillings C...| 200|
|MBBS, MD - Genera...|14 years experience|  null| Old City, Hyderabad|General Medicine|                null| 100|
|            BSc, BDS|23 years experience|  null|   Athani, Ernakulam|         Dentist|                null| 100|
| MBBS, MS, DNB - ENT| 5 years experience|  null|Thousand Lights, ...|  ENT Specialist|                null| 700|
|                BAMS| 7 years experience|  null|Somajiguda, Hyder...|        Ayurveda|                null| 100|
|            BDS, MDS| 9 years experience|   98%|Coimbatore Raceco...|         Dentist|98% 14 Feedback C...| 200|
|BDS, MDS - Oral &...|21 years experience|  null|Jubilee Hills, Hy...|         Dentist|Dental Crowns Fac...| 350|
|MBBS, Diploma in ...|12 years experience|  null|       Kondli, Delhi|  ENT Specialist|                null| 500|
|MBBS, MD - Genera...|10 years experience|  null|Saroor Nagar, Hyd...|General Medicine|                null| 200|
|MBBS, Diploma in ...|24 years experience|  null|Tambaram West, Ch...|  ENT Specialist|                null| 100|
|MBBS, MF- Homeopathy| 5 years experience|  null|Purasawakkam, Che...|       Homeopath|                null| 300|
|      MBBS, MS - ENT|19 years experience|   79%|     KPHB, Hyderabad|  ENT Specialist|79% 8 Feedback KP...| 400|
|                MBBS|19 years experience|  100%|HSR Layout, Banga...|General Medicine|100% 4 Feedback H...| 150|
+--------------------+-------------------+------+--------------------+----------------+--------------------+----+
only showing top 20 rows

In [425]:
spark.sql(""" select Rating,ifnull(Rating,'Not Present') as test_ifnull, nvl(Rating,'Not Present') from Test_Table


        """).show(5)

+------+-----------+------------------------+
|Rating|test_ifnull|nvl(Rating, Not Present)|
+------+-----------+------------------------+
|  100%|       100%|                    100%|
|   98%|        98%|                     98%|
|  null|Not Present|             Not Present|
|  null|Not Present|             Not Present|
|  100%|       100%|                    100%|
+------+-----------+------------------------+
only showing top 5 rows

In [372]:
df.show(10)

+--------------------+-------------------+------+--------------------+----------------+--------------------+----+
|       Qualification|         Experience|Rating|               Place|         Profile|  Miscellaneous_Info|Fees|
+--------------------+-------------------+------+--------------------+----------------+--------------------+----+
|BHMS, MD - Homeop...|24 years experience|  100%| Kakkanad, Ernakulam|       Homeopath|100% 16 Feedback ...| 100|
|BAMS, MD - Ayurve...|12 years experience|   98%|Whitefield, Banga...|        Ayurveda|98% 76 Feedback W...| 350|
|MBBS, MS - Otorhi...| 9 years experience|  null|Mathikere - BEL, ...|  ENT Specialist|                null| 300|
| BSc - Zoology, BAMS|12 years experience|  null|Bannerghatta Road...|        Ayurveda|Bannerghatta Road...| 250|
|                BAMS|20 years experience|  100%|Keelkattalai, Che...|        Ayurveda|100% 4 Feedback K...| 250|
|                BAMS| 8 years experience|  null|      Porur, Chennai|        Ayurveda|                null| 100|
|                BHMS|42 years experience|  null|   Karol Bagh, Delhi|       Homeopath|                null| 200|
|                 BDS|10 years experience|   99%|  Arekere, Bangalore|         Dentist|Dental Fillings C...| 200|
|MBBS, MD - Genera...|14 years experience|  null| Old City, Hyderabad|General Medicine|                null| 100|
|            BSc, BDS|23 years experience|  null|   Athani, Ernakulam|         Dentist|                null| 100|
+--------------------+-------------------+------+--------------------+----------------+--------------------+----+
only showing top 10 rows

In [394]:
df.select(expr('(Rating, Fees) as Test')).show(4)
df.select(struct('Rating','Profile'), struct('Rating','Fees').alias('Test')).show(4)

+-----------+
|       Test|
+-----------+
|{100%, 100}|
| {98%, 350}|
|{null, 300}|
|{null, 250}|
+-----------+
only showing top 4 rows

+-----------------------+-----------+
|struct(Rating, Profile)|       Test|
+-----------------------+-----------+
|      {100%, Homeopath}|{100%, 100}|
|        {98%, Ayurveda}| {98%, 350}|
|   {null, ENT Specia...|{null, 300}|
|       {null, Ayurveda}|{null, 250}|
+-----------------------+-----------+
only showing top 4 rows